@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #b91c1c;
    --black-color: #171717;
    --button-color: #dc2626;
}

body {
    font-family: 'Sofia Sans',
    sans-serif;
    margin: 0px;
}

/** Navigation **/

.navigation {
    background-color: var(--primary-color);
    padding: 0.5rem;
}

.navigation .nav-img {
    max-width: 60px;
    display: block;
    margin: auto;
    padding-top: 5px;
}

.navigation h1 {
    text-align: center;
    font-size: 28px;
    /* font-weight: bold; */
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}


.container {
    text-align: center;
    font-size: large;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

/** Footer **/

.footer {
    background-color: var(--primary-color);
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.footer div {
    max-width: 600px;
    margin: auto;
}


.footer h2, p {
    color: white;
    text-align: center;
}

button {
    background-color: var(--button-color);
    color: white;
    font-size: medium;
    font-weight: medium;
    border: none;
    margin-bottom: 1.5rem;
    padding: 1rem 2rem;
}


textarea {
    box-sizing: border-box;
    width: 50%;
    height: 15vh;
    display: block;
    margin: 1.75rem auto 1rem;
    padding: 1rem;
}

#output {
    box-sizing: border-box;
    border: 1px solid var(--black-color);
    height: 15vh;
    width: 50%;
    margin: 1rem auto 1.75rem;
    padding: 0.5rem;
}